.rank-list-wrap {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.24rem;
        height: 0.8rem;
        font-size: 0.34rem;    
    }

    .active-color {
        color: #175cd4;
    }

    .normal-color {
        color: #666;
    }
}