.detail-page {
    background-color: #fff;

    .bg-header {
        height: 3.36rem;
        background: url('../../img/bg.png');
        background-size: 100% 100%;
        color: #fff;
        overflow: hidden;

        .team-info {
            display: flex;
            margin-top: 0.48rem;
            padding: 0 0.72rem;
            justify-content: space-around;
            align-items: center;
        }

        .team {
            text-align: center;

            img {
                display: block;
                width: 1.2rem;
                height: 1.2rem;
            }
        }

        .point {
            text-align: center;

            .point-number {
                font-size: 0.64rem;
            }
        }

        .progress {
            margin-top: 0.5rem;
            padding: 0 0.6rem;
        }
    }
}